.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}

.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-100 {
  width: 100%;
}
.w-48 {
  width: 48%;
}
.w-45 {
  width: 45%;
}
.w-90 {
  width: 90%;
}
.w-25 {
  width: 25%;
}

.container {
  width: 95%;
  margin: 80px auto;
}

.but1 {
  border: 2px black solid;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 10px;
}

.but2 {
  border: 2px black solid;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.but1:hover,
.but2:hover {
  background-color:white;
  color:  #333;
  cursor: pointer;
  transition: 0.3s;
}
.b:hover {
  background-color:#333;
  color:  white;
  cursor: pointer;
  transition: 0.3s;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: oklch(0.932 0.032 255.585);
}
.bg-green {
  background-color: oklch(0.95 0.052 163.051);
}
.bg-pink {
  background-color: oklch(0.946 0.033 307.174);
}

.bg-blue1 {
  background-color: oklch(97% 0.014 254.604);
  border: 1px solid oklch(71.875% 0.09412 257.79);
}
.bg-green2 {
  background-color: oklch(97.9% 0.021 166.113);
  border: 1px solid oklch(81.288% 0.09757 163.237);
}
.bg-pink3 {
  background-color: oklch(97.7% 0.014 308.299);
  border: 1px solid oklch(65.815% 0.09009 306.896);
}
.bg-gray {
  background-color: oklch(93.893% 0.00639 255.742);
}
.bg-liht-blue {
  background-color: oklch(96.8% 0.007 247.896);
}
.bg-darkblue {
  background-color: oklch(21% .034 264.665);;
}

.tx-color-wh {
  color: #fff;
}
.tx-color-gray400 {
  color: oklch(70.7% .022 261.325);
}

.tx-size-60 {
  font-size: 60px;
}
.tx-size-20 {
  font-size: 20px;
}
.tx-size-25 {
  font-size: 25px;
}
.tx-size-36 {
  font-size: 36px;
}
.tx-size-30 {
  font-size: 30px;
}
.tx-size-16 {
  font-size: 16px;
}

.tx-bold {
  font-weight: bold;
}
.tx-center {
  text-align: center;
}

.card {
  width: 30%;
  align-items: center;
  border-radius: 20px;
  margin-right: 3.333%;
  padding: 32px 5px;
  min-height: 230px;
}


.card-img {
  display: block;
  margin: 0 auto;
}

.card-img2 {
  width: 64px;
  border-radius: 50%;
  margin: 0px 16px 0px 0px;
}

.margin-0 {
  margin: 0;
}

.margin-down-8 {
  margin: 0px 0px 8px;
}
.margin-down-24 {
  margin: 0px 0px 24px;
}
.margin-down-30 {
  margin: 0px 0px 30px;
}
.margin-down-8-up-8 {
  margin: 8px 0px;
}

.margin-left-5 {
  margin-left:5%;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}

.p-padding {
  padding: 10px;
}
.p-padding-30 {
  padding: 40px;
}
.p-padding-right {
  padding-right: 35px;
}

.content-card {
  border-left: 4px black solid;
  padding: 10px 10px 10px 20px;
  margin: 25px 0;
}

.statistics {
  padding: 48px;
  border: 1px gray solid;
  border-radius: 30px;
}

.input {
  padding: 16px 24px;
  border: 1px gray solid;
  border-radius: 10px;
  display: block;
  width: 100%;
  margin: 10px 0;
}

label {
  font-weight: bold;
  display: block;
  margin: 20px;
}

form {
  padding: 30px 60px;
}

.li-inline {
  display: inline-block;
}

ul {
  margin: 16px 5px;
  padding: 0px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: oklch(70.7% .022 261.325);}

.items-center {
  align-items: center;
}

.d-inline-block {
  display: inline-block;
}

.border-r-30 {
  border-radius: 20px;
}

.d-block {
  display: block;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.margin-auto {
  margin: auto;
}
html {
  scroll-behavior: smooth;
}

.m-w-100{
  max-width: 100%;
}
.more-benfits {
  overflow: hidden;
}
.more-benfits {
  display: flex;
  align-items: center;
  gap: 30px;
}
.flex-10 {
  display: flex;
  align-items: center;
  gap: 10px;
}
